<!-- Includes Header -->
<%- include('includes/header')%>
<!-- Includes Header -->

<!-- Main Site -->
<main id="site-main">
      <div class="container">
        <div class="box-nav d-flex justify-between text-center">
          <div class="filter">
              <a href="/todopage"><i class="fas fa-angle-double-left"></i>All Todos</a>
          </div>
        </div>

        <div class="form-title text-center">
             <h2 class="text-dark">New User</h2>
             <span class="text-light">Use the below form to create a new todo</span>
        </div>
       
        <!-- Includes add user form -->
            <%- include('includes/form')%>
        <!-- Includes add user form -->
      </div>  
  </main>
<!-- Main Site -->



<!-- Includes Footer -->
<%- include('includes/footer')%>
<!-- Includes Footer -->